/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/	
/*
/* 	AUTHOR - josh@joshbosworth.com
/*	FOR - CHIROHOSTING.com
/*	
/*  based on:
/*		http://grids.heroku.com/
/*		grid_960		
/*		lessframework4
/*		1040px
/*		
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/	



/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*
/*	TYPOGRAPHY
/*
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

body {
	font: 16px/24px 'Helvetica Neue', Arial,'Liberation Sans', FreeSans, sans-serif;;
}


/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*
/*	LAYOUT
/*
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

html {
	height:100%;
	width:100%;
}

body {
	background: #5F5F5F url('../images/bg/stripe_2d0_repeat.png') repeat;
	height:100%;
	width:100%;
	-webkit-text-size-adjust: 100%; /* Stops Mobile Safari from auto-adjusting font-sizes */
}


/*		Desktop - Wide: 1200px +
		Gutters: 20px;
----------------------------------------------------------------------------------------------------
cols    1     	2      	3      	4      	5      	6      	7      	8      	9      	10 		11 		12
		80px 	180px	280px	380px	480px	580px	680px	780px	880px	980px	1080px	1180px
*/

/* COLUMNS */
body { min-width:1200px; }
.scaffold {
	clear:both;
	float:left;
	position:relative;
	width:100%;}
.container {
	margin-left:10px;
	margin-right:10px;}
.row {
	width: 1200px;
	margin: 0 auto;
	overflow: hidden;}
.alpha .impact,.alpha .sub-impact,.beta .main,.beta .sub-main {
	float:left;
	display:inline;
	margin:0 10px;
	min-height: 1px;
	width: 780px;}
.alpha .call-to-action,.alpha .sub-impact-side,.beta .main-side,.beta .sub-main-side {
	float:left;
	display:inline;
	margin:0 10px;
	min-height: 1px;
	width: 380px;}
.omega .box {
	float:left;
	display:inline;
	margin:0 10px;
	width: 380px;}


/*	Elements  +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.body-wrapper { position:relative; z-index:10; }


/* header */

header.header{}
header.header .main-wrapper{}
header.header .main-wrapper .main{}
header.header .main-wrapper .main h1{ text-align: center; visibility:hidden;}

/* contents */
.content { z-index:5; margin-top:1%;}
.content .row { 
	background-color:#fff;
	/*radius*/
	-moz-border-radius:4px ;
	-webkit-border-radius:4px ;
	border-radius:4px;
	border:2px solid #fff;
	max-width:600px;
	/*dropshadow*/
	-moz-box-shadow:0px 5px 25px rgba(0,0,0,0.35);
	-webkit-box-shadow:0px 5px 25px rgba(0,0,0,0.35);
	box-shadow:0px 5px 25px rgba(0,0,0,0.35);
	-ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=5,Color=#59000000,Positive=true)";
	filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=5,Color=#59000000,Positive=true);}

.content .row:hover { 
	border:2px solid #B3C50B;
	-webkit-transition: all 750ms ease;
	-moz-transition: all 750ms ease;
    -ms-transition: all 750ms ease;
    -o-transition: all 750ms ease;
	transition: all 750ms ease;
}
.content .row .link-wrapper {text-align: center}
.content .row .link-wrapper .links{
	display:inline-block;
	margin: 0 auto;
	width:220px;}
.content .row .link-wrapper .links .link{margin:60px 0; }
.content .row .link-wrapper .links .link span.icon{
	background: url('../images/sprites.png') no-repeat;
	display:inline-block;
	float:left;
	margin-right:10px;
	height:40px;
	width :40px;}
.content .row .link-wrapper .links .email span.icon{ background-position: -3px -2px;}
.content .row .link-wrapper .links .facebook span.icon{ background-position: -53px -4px; }
.content .row .link-wrapper .links .google span.icon{ background-position: -109px -4px; }
.content .row .link-wrapper .links .instagram span.icon{ background-position: -164px -4px; }
.content .row .link-wrapper .links .stackoverflow span.icon{ background-position: -216px 0; }
.content .row .link-wrapper .links .location span.icon{ background-position: -260px 0; }

.content .row .link-wrapper .links .email:hover span.icon{ background-position: -3px -47px;}
.content .row .link-wrapper .links .facebook:hover span.icon{ background-position: -53px -49px; }
.content .row .link-wrapper .links .google:hover span.icon{ background-position: -109px -49px; }
.content .row .link-wrapper .links .instagram:hover span.icon{ background-position: -164px -49px; }
.content .row .link-wrapper .links .stackoverflow:hover span.icon{ background-position: -216px -45px; }
.content .row .link-wrapper .links .location:hover span.icon{ background-position: -260px -45px; }

.content .row .link-wrapper .links .link a{}
.content .row .link-wrapper .links .link a h3{text-align:left;}
.content .row .link-wrapper .links .link a:hover h3{color:#B3C50B;}


/* footer */
.footer {
	background-color :#444;
	color:#ccc;
	z-index:10;
	display:none;}

	.footer .main-wrapper {}
	.footer .main { height:200px; }
	.footer .main h3 { color:#eee; padding:20px;}

	.footer .colophon-wrapper {
		background-color: #000;
		color:#ccc;
		margin-left:0;
		margin-right:0; }
	.footer .colophon { }
	.footer .colophon h4 { padding:10px 20px;}



/*		Desktop - standard: 960px 
		min width: 960px
----------------------------------------------------------------------------------------------------
cols    1     	2      	3      	4      	5      	6      	7      	8      	9      	10 		11 		12
		60px 	140px	220px	300px	380px	460px	540px	620px	700px	780px	860px	940px
*/

@media only screen and (min-width: 960px) and (max-width: 1199px) {
	
	/* COLUMNS */
	body { min-width:960px; }
	.row { width: 960px;}
	.alpha .impact,.alpha .sub-impact,.beta .main,.beta .sub-main {	width: 620px; }
	.alpha .call-to-action,.alpha .sub-impact-side,.beta .main-side,.beta .sub-main-side,.omega .box { width: 300px; }
	

	/*	Elements  +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/


}



/*		Table Layout: 768px 
----------------------------------------------------------------------------------------------------
cols    1     	2      	3      	4      	5      	6      	7      	8      	9      	10 		11 		12
		44px 	108px	172px	236px	300px	364px	428px	492px	556px	620px	684px	748px
*/

@media only screen and (min-width: 768px) and (max-width: 959px) {
	
	/* COLUMNS */
	body { min-width:768px; }
	.row { width: 768px; }
	.alpha .impact, .alpha .sub-impact, .beta .main, .beta .sub-main { width: 492px; }
	.alpha .call-to-action, .alpha .sub-impact-side, .beta .main-side, .beta .sub-main-side,.omega .box { width: 236px; }
	


	

}


/*		Mobile Layout: 100%.
		Inherits styles from: Default Layout.
---------------------------------------------*/

@media only screen and (max-width: 767px) {

	/* COLUMNS */
	body { min-width:100%; }
	.scaffold { clear:both; float:left; position:relative; width:100%; }
	.container { margin-left:10px; margin-right:10px; }
	.row { width:100%; overflow: hidden; }
	.alpha .impact,.alpha .sub-impact,.beta .main,.beta .sub-main,.alpha .call-to-action,.alpha .sub-impact-side,.beta .main-side,.beta .sub-main-side, .omega .box { 
		float:none; 
		display:block; 
		margin-left:10px;
		margin-right:10px;
		min-height: 1px; 
		width: auto; }
	.fixed { background-color: #FF0000; }




}

/*		Wide Mobile Layout: 480px.
		Inherits styles from: Default Layout, Mobile Layout.
------------------------------------------------------------*/


@media only screen and (min-width: 480px) and (max-width: 767px) {
	
	/* COLUMNS */
	.alpha .impact,.alpha .sub-impact,.beta .main,.beta .sub-main { 
		float:left; 
		display:inline;
		margin:0 1.5%; 
		min-height: 1px; 
		width: 60%; }
	.alpha .call-to-action,.alpha .sub-impact-side,.beta .main-side,.beta .sub-main-side { 
		float:left; 
		display:inline;
		margin:0 1.5%; 
		min-height: 1px; 
		width: 33.5%; }
	.omega .box { 
		float:left; 
		display:inline;
		margin:0 1.5%; 
		min-height: 1px; 
		width: 30.4%; }
	.fixed { background-color: #FF8040; }

	/*	Elements  +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/



}


/*	Retina media query.
	Overrides styles for devices with a 
	device-pixel-ratio of 2+, such as iPhone 4.
-----------------------------------------------    */

@media 
	only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (min-device-pixel-ratio: 2) {
	
	body {
	
	}
	
}


/*  Clearing ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/	

    /* Self Clearing Goodness */
    nav ul:before, 
    nav ul:after, 
    .nav ul:before, 
    .nav ul:after, 
    .nav:before,
    .nav:after,
    .body-wrapper:before,
    .body-wrapper:after{ 
    	content: "\0020"; 
    	display: block; 
    	height: 0; 
    	clear: both; 
    	visibility: hidden; }

    /* Use clearfix class on parent to clear nested columns,
    or wrap each row of columns in a <div class="row"> */
    .clearfix:before,
    .clearfix:after,
	.scaffold:before,
	.scaffold:after,
	.container:before,
	.container:after,
    .row:before,
    .row:after {
      content: '\0020';
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0; }
    .row:after,
    .clearfix:after {
      clear: both; }
    .row,
    .clearfix {
      zoom: 1; }

    /* You can also use a <br class="clear" /> to clear columns */
    .clear {
      clear: both;
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0;
    }