body{
    background-color:$primary-background;
    background-image:url('../images/bg/desktop.v3.jpg');
    background-position: center center;
    background-size:cover;
}

/* STRUCTURE ////////////////////////////////////////////////////////////////*/

.container{
    padding: 0;
    margin: 0;
    height:100%;
    width:100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:row;
    flex-wrap: wrap;
}

.panel{
    order:1;
    flex: 0 1 980px;
    max-width:calc(100% - 40px);

    display: flex;
    flex-direction:row;
    flex-wrap: wrap;

    .row{
        box-sizing: border-box;

        &.header{
            order:1;
            flex: 0 1 100%;

            @include breakpoint($desktop){
                flex: 0 1 50%;
            }
        }
        &.content{
            order:2;
            flex: 0 1 100%;

            @include breakpoint($desktop){
                flex: 0 1 50%;
            }
        }
        &.footer{
            order:3;
            flex: 0 1 auto;
        }
    }
}

/* CONTENT ///////////////////////////////////////////////////////////////////*/

.panel{
    background-color:#fcf3d4;
    overflow: hidden;
    @include drop-shadow(2px, 6px, 10px, .3);
    @include transition(500ms);

    &:hover{
        @include drop-shadow(2px, 10px, 25px, .8);
    }
}

.header{
    background-color: $color-primary;
    position:relative;
    height:auto;
    @include type-transition(background-color, 250ms);

    .brand{
        @include breakpoint($desktop){
            position:absolute;
            top:0;
            bottom:0;
            margin:auto;
            width:100%;
            height:20px;
        }

        h1{
            color:$color-lightest;
            text-align: center;
            @include type-transition(color, 250ms);

            @include breakpoint($desktop){
                margin:0;
            }
        }
    }

    &:hover{
        background-color: $color-secondary;

        .brand h1{
            color:$color-primary;
        }

    }

}

.content{
    background-color: $color-lightest;
}

.link-wrapper{
    overflow:hidden;
    margin:20px;

    ul.links{
        @include clearfix();

        li.link{
            line-height: 2em;
            position:relative;
            margin:10px;
            display:inline;
            float:left;

            @include breakpoint($desktop){
                margin:0;
                display:block;
                float:none;
            }

            a{
                font-size:22px;
                margin-left: 30px;

                @include breakpoint($desktop){
                    font-size:18px;
                }

                &:hover{}
                &:active{}
            }

            .icon{
                position:absolute;
                text-align:center;
                vertical-align: middle;
                width:20px;

                &:before{
                    @include fa;
                    color:$color-primary;
                    font-size:22px;

                    @include breakpoint($desktop){
                        font-size:18px;
                    }
                }
            }

            &.k10 .icon:before            { content : $fa-var-power-off; }
            &.facebook .icon:before       { content : $fa-var-facebook; }
            &.linkedin .icon:before       { content : $fa-var-linkedin; }
            &.stackoverflow .icon:before  { content : $fa-var-stack-overflow; }
            &.github .icon:before         { content : $fa-var-code-fork; }
            &.codepen .icon:before        { content : $fa-var-terminal; }
            &.instagram .icon:before      { content : $fa-var-instagram; }
            &.email .icon:before          { content : $fa-var-envelope; }
            &.location .icon:before       { content : $fa-var-map-marker; }
        }
    }
}

.footer{

}
