body{
    background-color:$primary-background;
    background-image:url('../images/bg/desktop.v3.jpg');
    background-position: center center;
    background-size:cover;
}

/* STRUCTURE ////////////////////////////////////////////////////////////////*/

.container{
    padding: 0;
    margin: 0;
    height:100%;
    width:100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:row;
    flex-wrap: wrap;
}

.panel{
    order:1;
    flex: 0 1 980px;
    max-width:calc(100% - 40px);

    display: flex;
    flex-direction:row;
    flex-wrap: wrap;

    .box{
        box-sizing: border-box;

        &.story{
            order:1;
            flex: 0 1 100%;

            @include breakpoint($desktop){
                flex: 0 1 50%;
            }
        }
        &.connect{
            order:2;
            flex: 0 1 100%;

            @include breakpoint($desktop){
                flex: 0 1 50%;
            }
        }
    }
}

/* CONTENT ///////////////////////////////////////////////////////////////////*/

.panel{
    background-color:#fcf3d4;
    overflow: hidden;
    @include drop-shadow(2px, 6px, 10px, .3);
    @include transition(500ms);

    &:hover{
        @include drop-shadow(2px, 10px, 25px, .8);
    }
}

.story{
    position:relative;
    height:350px;
    width:100%;
    overflow:hidden;

    @include breakpoint($desktop){}

    .pages{
        width:100%;
        height:350px;
        transform: translateY(0);
        @include type-transition(transform, 500ms);

        .page{
            height:100%;
            width::100%;
            text-align: center;

            display: flex;
            align-items: center;
            justify-content: center;
        }

    }

    #hello.page{
        background-color: $color-primary;
        @include type-transition(background-color, 250ms);

        h1{
            color:$color-lightest;
            text-align: center;
            @include type-transition(color, 250ms);

            @include breakpoint($desktop){
                margin:0;
            }
        }

        // &:hover{
        //     background-color: $color-secondary;
        //
        //     h1{
        //         color:$color-primary;
        //     }
        // }
    }

    #intro.page{
        background-color: $color-primary;
        @include type-transition(background-color, 250ms);

        p{
            color:$color-lightest;
            text-align: center;
            @include type-transition(color, 250ms);
        }
    }

    #dostuff.page{
        background-color: $color-primary;
        @include type-transition(background-color, 250ms);

        p{
            color:$color-lightest;
            text-align: center;
            @include type-transition(color, 250ms);
        }
    }

    #bye.page{
        background-color: $color-primary;
        @include type-transition(background-color, 250ms);

        p{
            color:$color-lightest;
            text-align: center;
            @include type-transition(color, 250ms);
        }
    }

    .control{
        position:absolute;
        display:inline-block;
        height:30px;
        width:30px;
        left: 50%;
        transform: translateX(-15px);
        text-align:center;
        border-radius: 15px;

        .icon{
            cursor:pointer;

            &:before{
                color:$color-secondary;
                font-size:32px;
                top:0;
            }

            &:hover:before{
                color:$color-lightest;
            }
        }

        &[data-dir="up"]{
            top:5px;

            .icon:before{
                content : $fa-var-angle-up;
            }
        }

        &[data-dir="down"]{
            bottom:5px;

            .icon:before{
                content : $fa-var-angle-down;
            }

        }
    }
}

.content{
    background-color: $color-lightest;
}

.link-wrapper{
    overflow:hidden;
    margin:20px;

    ul.links{
        @include clearfix();

        li.link{
            line-height: 2em;
            position:relative;
            margin:10px;
            display:inline;
            float:left;

            @include breakpoint($desktop){
                margin:0;
                display:block;
                float:none;
            }

            a{
                font-size:22px;
                margin-left: 30px;

                span{
                  display:none;
                }

                @include breakpoint($desktop){
                    font-size:18px;

                    span{
                      display:inline-block;
                      margin-left:30px;
                    }
                }

                &:hover{}
                &:active{}
            }

            .icon{
                width:20px;

                @include breakpoint($desktop){
                    position:absolute;
                    text-align:center;
                    vertical-align: middle;
                    font-size:18px;
                }

                &:before{
                    color:$color-primary;
                    font-size:20px;
                }
            }

            &.k10 .icon:before            { content : $fa-var-power-off; }
            &.facebook .icon:before       { content : $fa-var-facebook; }
            &.linkedin .icon:before       { content : $fa-var-linkedin; }
            &.stackoverflow .icon:before  { content : $fa-var-stack-overflow; }
            &.github .icon:before         { content : $fa-var-code-fork; }
            &.codepen .icon:before        { content : $fa-var-terminal; }
            &.instagram .icon:before      { content : $fa-var-instagram; }
            &.email .icon:before          { content : $fa-var-envelope; }
            &.location .icon:before       { content : $fa-var-map-marker; }
        }
    }
}

.footer{
    position:absolute;
    z-index: 9999;
    bottom:5px;
    right:10px;

    .colophon{
        font-size:13px;
        color: $color-highlight;
    }
}
