/* VARS /////////////////////////////////////////////////////////////////////*/

/* FONTS */

$font-bebas             : 'BebasNeueRegular';
$font-arsenal           : 'arsenalregular';

$font-header            : $font-bebas;
$font-body              : $font-arsenal;

/* FONT-AWESOME */
//$fa-font-path           : "/blab/FontAwesome"; // manually updated path in sytlesheet
$fa-font-size-base      : 24px;
$fa-line-height-base    : 1;

$fa-css-prefix          : fa;
$fa-version             : "4.5.0";
$fa-border-color        : #eee;
$fa-inverse             : #fff;
$fa-li-width            : (30em / 14);

/* COLORS */
$color-darkest          : #000;
$color-darker           : #222;
$color-dark             : #444;
$color-mid              : #999;
$color-light            : #ddd;
$color-lighter          : #eee;
$color-lightest         : #fff;

$primary-background     : #1D173D;
$secondary-background 	: #EBEBE5;

$color-primary 			: #1D173D;
$color-secondary        : #fefaec;
$color-highlight        : #E3CB83;
$color-error 			: #FF0000;
$color-success 			: #086F00;

/* TYPE */
$font-color-primary     : #121416;
$font-color-alt         : #FFFFFF;

/* LINKS */
$link-color-up          : #B49A65;
$link-color-over        : #451515;

/* BUTTONS */
/* $primary-btn            : $lt-green;
$primary-btn-font       : $color-lighter;
$primary-btn-over       : $color-lightest; */

/* GRIDS /////////////////////////////////////////////////////////////////////*/

$mobile: screen max-width 787px;
$tablet: screen 788px 980px;
$desktop: screen 788px;
$widescreen: screen 981px;
