/* VARS /////////////////////////////////////////////////////////////////////*/

/* FONTS */

$font-bebas             : 'BebasNeueRegular';
$font-arsenal           : 'arsenalregular';

$font-header            : $font-bebas;
$font-body              : $font-arsenal;

/* COLORS */
$color-darkest          : #000;
$color-darker           : #222;
$color-dark             : #444;
$color-mid              : #999;
$color-light            : #ddd;
$color-lighter          : #eee;
$color-lightest         : #fff;

$primary-background     : #fff;
$secondary-background 	: #EBEBE5;

$color-error 			: #FF0000;
$color-success 			: #086F00;
$color-primary 			: #001DCE;

/* TYPE */
$font-color-primary     : #121416;
$font-color-alt         : #FFFFFF;

/* LINKS */
$link-color-up          : #FFFFFF;
$link-color-over        : #FF0101;

/* BUTTONS */
/* $primary-btn            : $lt-green;
$primary-btn-font       : $color-lighter;
$primary-btn-over       : $color-lightest; */


/* GRIDS /////////////////////////////////////////////////////////////////////*/

$mobile: 768px;
$desktop: 769px;
