'use strict';

//var webpack = require('webpack');

module.exports = {
    context: __dirname + "/javascript/app",
    entry: "./index",
    output: {
        path: __dirname + "/javascript/dist",
        filename: "bundle.js"
    }
};


// module.exports = {
//     context : __dirname + './javascript/app/',
//     entry: 'index.js',
//     module: {
//         loaders: []
//     },
//     output: {
//         path: __dirname + './javascript/dist/',
//         filename: 'bundle.js'
//     },
//     resolve : {
//         root : [
//             __dirname + './javascript/app',
//             __dirname + './javascript/vendor'
//         ],
//         modulesDirectories: ['javascript', 'node_modules'],
//         extensions: ['', '.js'],
//         alias: {
//             jquery : './jquery/dist/jquery.min',
//             gsap : './gsap/src/minified/TweenMax.min'
//         }
//     }
// };